<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Đăng nhập | Mộc Miên Flower Shop</title>
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/styles/css/auth.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
</head>
<body>
	<div class="login-container">
		<div class="login-card">

			<div class="logo">
				<a href="/home"> <img src="/styles/image/logo.png" alt="Logo">
				</a>
			</div>
			<h2>Mộc Miên</h2>

			<form action="/login" method="post" novalidate>

				<div th:if="${error}" class="alert alert-danger">

					<span th:text="${error}"></span>

				</div>

				<div class="form-group">
					<label for="username">Tên đăng nhập</label> <input type="text"
						id="username" name="username" required>
					<div th:if="${username}" class="alert alert-danger" th:text="${username}"></div>

				</div>
				<div class="form-group">
					<label for="password">Mật khẩu</label> <input type="password"
						id="password" name="password" required> <br>
					<div th:if="${password}" class="alert alert-danger"
						th:text="${password}"></div>
				</div>
				<button type="submit" class="btn">Đăng nhập</button>
			</form>
			<p class="login-link">
				<a th:href="@{/forgot-password}"> Quên mật khẩu</a>
			</p>

			<div class="divider">hoặc</div>

			<div class="social-login">
				<a href="/oauth2/authorization/google" class="btn-google"> <i
					class="fab fa-google"></i> Đăng nhập với Google
				</a>
			</div>

			<div class="role-login" style="margin-top: 15px; text-align: center;">
				<p class="login-link">
					Đăng nhập với tư cách: <a th:href="@{vendor/login}">Chủ shop</a> |
					<a th:href="@{shipper/login}">Shipper</a>
				</p>
			</div>
			<p class="login-link">
				Chưa có tài khoản? <a th:href="@{/register}">Đăng ký</a>
			</p>
		</div>
	</div>
</body>
</html>