<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title layout:title-pattern="$CONTENT_TITLE - Admin"></title>
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
<link rel="stylesheet" href="/styles/css/base.css">
<link rel="stylesheet" href="/styles/css/sidebar.css">
<th:block layout:fragment="styles">
</th:block>
</head>
<body>
	<div th:replace="~{admin/fragments/header :: header}"></div>
	<div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>

	<main>
		<div layout:fragment="content">
		ADMIN
		</div>
	</main>
	<script th:src="@{/styles/js/sidebar.js}"></script>
	
	<th:block layout:fragment="scripts"></th:block>
</body>
</html>