<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<header th:fragment="header" class="shipper-header">
		<div class="header-container">
			<!-- Logo -->
			<div class="header-logo">
				<a th:href="@{/shipper/dashboard}">
					<img src="/styles/image/logo.png" alt="MocMien Shop">
					<span class="header-brand">Shipper</span>
				</a>
			</div>

			<!-- User Info -->
			<div class="header-user">
				<div class="user-details">
					<span class="user-name" th:text="${user != null && user.userProfile != null} ? ${user.userProfile.fullName} : 'Shipper'">Shipper</span>
					<span class="user-role">
						<i class="fa fa-truck"></i> Tài xế giao hàng
					</span>
				</div>
				<div class="user-avatar">
					<img th:src="${user != null && user.avatar != null} ? ${user.avatar} : '/styles/image/customer/default-avatar.png'" 
					     alt="Avatar">
				</div>
			</div>
		</div>
	</header>
</body>
</html>