<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customer/layout}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>4Petals Flower Shop</title>
<th:block layout:fragment="styles">
	<link rel="stylesheet" href="/styles/css/customer/base.css">
	<link rel="stylesheet" href="/styles/css/customer/home.css">
	<link rel="stylesheet" href="/styles/css/customer/banner.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</th:block>
</head>
<body>
	<div layout:fragment="content" class="home-page">

		<section class="banner-slider">
			<div class="slides">
				<div class="slide active">
					<img src="/styles/image/customer/banner1.jpg" alt="Banner 1">
				</div>
				<div class="slide">
					<img src="/styles/image/customer/banner2.png" alt="Banner 2">
				</div>
				<div class="slide">
					<img src="/styles/image/customer/banner3.png" alt="Banner 3">
				</div>
			</div>

			<!-- Nút điều hướng -->
			<button class="prev">
				<i class="fa-solid fa-chevron-left"></i>
			</button>
			<button class="next">
				<i class="fa-solid fa-chevron-right"></i>
			</button>

			<!-- Chấm chuyển slide -->
			<div class="dots">
				<span class="dot active"></span> <span class="dot"></span> <span
					class="dot"></span>
			</div>
		</section>


		<div class="product-area">
			<!-- Danh sách sản phẩm -->
			<div class="product-section">
				<h3>Khuyến mãi</h3>
				<div class="product-list">
					<div class="product-card">
						<img th:src="@{/styles/image/product/sp1.jpg}" alt="Hoa 1">
						<h4>Victo rose</h4>
						<p class="price">300.000 ₫</p>
					</div>
					<div class="product-card">
						<img th:src="@{/styles/image/product/sp1.jpg}" alt="Hoa 2">
						<h4>Love you more</h4>
						<p class="price">
							<span class="old">450.000 ₫</span> 400.000 ₫
						</p>
					</div>
					<div class="product-card">
						<img th:src="@{/images/flower3.jpg}" alt="Hoa 3">
						<h4>Hồng nhánh</h4>
						<p class="price">700.000 ₫</p>
					</div>
				</div>
			</div>

		</div>
	</div>
	<th:block layout:fragment="scripts">
		<script src="/styles/js/customer/header.js"></script>
		<script th:src="@{/styles/js/customer/avatar.js}"></script>
	</th:block>
</body>
</html>
