<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>4Petals Flower Shop</title>
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="/styles/css/customer.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
</head>
<body>
	<div th:insert="~{web/fragments/header :: header}"></div>

	<main>
		<h1>Chào mừng đến với 4Petals Flower Shop!</h1>
	</main>

	<div th:insert="~{web/fragments/footer :: footer}"></div>
</body>
</html>
