<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customer/layout}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>4Petals Flower Shop</title>
<th:block layout:fragment="styles">
	<link rel="stylesheet" href="/styles/css/customer/base.css">
	<link rel="stylesheet" href="/styles/css/customer/home.css">
	<link rel="stylesheet" href="/styles/css/customer/banner.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</th:block>
</head>
<body>
	<div layout:fragment="content" class="home-page">

		<section class="banner-slider">
			<div class="slides">
				<div class="slide active">
					<img src="/styles/image/customer/banner1.jpg" alt="Banner 1">
				</div>
				<div class="slide">
					<img src="/styles/image/customer/banner2.png" alt="Banner 2">
				</div>
				<div class="slide">
					<img src="/styles/image/customer/banner3.png" alt="Banner 3">
				</div>
			</div>

			<!-- Nút điều hướng -->
			<button class="prev">
				<i class="fa-solid fa-chevron-left"></i>
			</button>
			<button class="next">
				<i class="fa-solid fa-chevron-right"></i>
			</button>

			<!-- Chấm chuyển slide -->
			<div class="dots">
				<span class="dot active"></span> <span class="dot"></span> <span
					class="dot"></span>
			</div>
		</section>


		<div class="product-area">
			<!-- Danh sách sản phẩm -->
			<div class="product-section">
				<h3>Gợi ý hôm nay</h3>
				<div class="product-list">
					<div class="product-card" th:each="p : ${products}">
						<!-- Ảnh sản phẩm -->
						<a th:href="@{'/product/' + ${p.maSP}}"> <img
							th:src="${p.hinhAnh}" alt="Ảnh sản phẩm" />
						</a>

						<!-- Tên sản phẩm -->
						<h4>
							<a th:href="@{'/product/' + ${p.maSP}}" th:text="${p.tenSP}"></a>
						</h4>

						<!-- Giá -->
						<p class="price"
							th:text="${#numbers.formatDecimal(p.gia, 0, 'COMMA', 0, 'POINT')} + ' ₫'"></p>

						<!-- Badge trạng thái -->
						<div class="badge" th:switch="${p.trangThai}">
							<span th:case="1" class="badge-selling">Đang bán</span> <span
								th:case="0" class="badge-stopped">Ngừng bán</span> <span
								th:case="-1" class="badge-out">Hết hàng</span>
						</div>
					</div>
				</div>


			</div>

		</div>
	</div>
	<th:block layout:fragment="scripts">
		<script src="/styles/js/customer/header.js"></script>
		<script th:src="@{/styles/js/customer/avatar.js}"></script>
	</th:block>
</body>
</html>
