<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title layout:title-pattern="$CONTENT_TITLE - Admin Panel">Customer
	Panel</title>

<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />

<th:block layout:fragment="styles">
</th:block>
</head>
<body>
	<div th:replace="~{customer/fragments/header :: header}"></div>

	<main>
		<div layout:fragment="content">
			<h1>Chào mừng đến với trang khách hàng</h1>
			<p>Đây là trang chủ dành cho khách hàng.</p>
		</div>
	</main>

	<div th:replace="~{customer/fragments/footer :: footer}"></div>

	<th:block layout:fragment="scripts">
		<script src="/styles/js/customer/header.js"></script>
		<script th:src="@{/styles/js/customer/avatar.js}"></script>
	</th:block>
</body>
</html>