<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{shipper/layout}">
<head>
    <title>Hồ sơ Shipper</title>
    <th:block layout:fragment="styles"></th:block>
 </head>
 <body>
 <div layout:fragment="content">
   <div class="mobile-card">
     <h3>Thông tin cá nhân</h3>
     <form id="profileForm">
       <div class="row"><label>Biển số</label><input name="vehicleNumber" /></div>
       <div class="row"><label>Loại xe</label><input name="vehicleType" /></div>
       <div class="row"><label>Giấy phép</label><input name="license" /></div>
       <div style="height:6px"></div>
       <button type="submit" class="btn">Lưu</button>
     </form>
   </div>
 </div>
 <th:block layout:fragment="scripts">
   <script th:src="@{/styles/js/shipper/profile.js}"></script>
 </th:block>
 </body>
 </html>