<!DOCTYPE html>
<html lang="vi">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Trang chủ Seller</title>
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="/styles/css/seller.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
</head>
<body>
	<div th:insert="~{seller/fragments/header :: header}"></div>

	<main>
		<div th:insert="~{seller/fragments/sidebar :: sidebar}"></div>

		<h1>Chào mừng đến với trang quản lý</h1>
		<p>Đây là trang chủ dành cho Seller.</p>
	</main>

	<div th:insert="~{'seller/fragments/footer' :: footer}"></div>

</body>
</html>