<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/styles/css/admin/header.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
	rel="stylesheet">
</head>
<body>
	<header th:fragment="header">
		<div class="header-top">
			<!-- Logo -->
			<div class="logo">
				<a href="/home"> <img src="/styles/image/logo.png" alt="Logo">
				</a>
			</div>


			<!-- Search Box -->
			<div class="search-box">
				<input type="text" placeholder="Tìm kiếm sản phẩm...">
				<button type="submit">
					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
			</div>

			<!-- Toast container -->
			<div aria-live="polite" aria-atomic="true"
				style="position: fixed; top: 20px; right: 20px; z-index: 9999999;">
				<div id="notificationToast" class="toast" role="alert"
					aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
					<div class="toast-header">
						<strong class="me-auto" id="toastTitle">Thông báo</strong> <small
							class="text-muted" id="toastTime"></small>
						<button type="button" class="btn-close" data-bs-dismiss="toast"
							aria-label="Close"></button>
					</div>
					<div class="toast-body" id="toastBody">Nội dung thông báo</div>
				</div>
			</div>

			<div class="user-info" th:data-user-id="${user.userId}">
				<div class="user-details">
					<span class="user-name" th:text="${user.userProfile?.fullName}">Admin</span> <span class="user-role">Quản
						trị viên</span>
				</div>
				<img th:src="${user.avatar != null} ? ${user.avatar}" alt="Avatar"
					class="user-avatar">
			</div>

		</div>
	</header>


</body>
</html>