<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/src/main/resources/static/styles/css/admin.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>
<body>
<div th:fragment="sidebar">
    <nav class="sidebar">
        <ul class="sidebar-menu">
            <li>
                <a th:href="@{/admin/dashboard}">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/users}">
                    <span class="icon"><i class="fas fa-users"></i></span>
                    <span class="text">Quản lý User</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/products}">
                    <span class="icon"><i class="fas fa-box"></i></span>
                    <span class="text">Sản phẩm</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/categories}">
                    <span class="icon"><i class="fas fa-th-large"></i></span>
                    <span class="text">Danh mục</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/discounts}">
                    <span class="icon"><i class="fas fa-percent"></i></span>
                    <span class="text">Chiết khấu App</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/promotions}">
                    <span class="icon"><i class="fas fa-tags"></i></span>
                    <span class="text">Khuyến mãi</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/shippers}">
                    <span class="icon"><i class="fas fa-truck"></i></span>
                    <span class="text">Nhà vận chuyển</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/settings}">
                    <span class="icon"><i class="fas fa-cog"></i></span>
                    <span class="text">Cài đặt</span>
                </a>
            </li>
            <li>
                <a th:href="@{/logout}">
                    <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                    <span class="text">Đăng xuất</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>